mixin cookie-banner()
  #cookies-eu-banner(style="display: none;")
    .cookies-eu-banner
      span By&nbsp;continuing to&nbsp;visit this&nbsp;site, you&nbsp;accept the&nbsp;use of&nbsp;cookies by&nbsp;Google&nbsp;Analytics for&nbsp;statistical&nbsp;purposes.
      div
        a(id="cookies-eu-more", href="https://grows.notion.site/The-use-of-cookies-on-our-website-a426b79af74d4b1483479bb352daaaa9") Read more
        button.cookie-banner__reject(id="cookies-eu-reject") Reject
        button.cookie-banner__accept(id="cookies-eu-accept") Accept
