-
  const graphic = [
    {
      title: "Ultra-сonservative",
      items: [
        {
          moonshots: 0,
          venture: 0,
          stocks: 0,
          bonds: 100,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 10,
          bonds: 90,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 20,
          bonds: 80,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 30,
          bonds: 70,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 40,
          bonds: 60,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 50,
          bonds: 50,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 60,
          bonds: 40,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 70,
          bonds: 30,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 70,
          bonds: 30,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 80,
          bonds: 20,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 80,
          bonds: 20,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 80,
          bonds: 20,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 80,
          bonds: 20,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 90,
          bonds: 10,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 90,
          bonds: 10,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 90,
          bonds: 10,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 90,
          bonds: 10,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 90,
          bonds: 10,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 90,
          bonds: 10,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 90,
          bonds: 10,
        },
      ],
    },
    {
      title: "Conservative",
      items: [
        {
          moonshots: 0,
          venture: 0,
          stocks: 10,
          bonds: 90,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 20,
          bonds: 80,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 30,
          bonds: 70,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 40,
          bonds: 60,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 40,
          bonds: 50,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 50,
          bonds: 40,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 60,
          bonds: 30,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 70,
          bonds: 20,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 70,
          bonds: 20,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 70,
          bonds: 20,
        },
        {
          moonshots: 10,
          venture: 20,
          stocks: 70,
          bonds: 0,
        },
        {
          moonshots: 10,
          venture: 20,
          stocks: 70,
          bonds: 0,
        },
        {
          moonshots: 10,
          venture: 20,
          stocks: 70,
          bonds: 0,
        },
        {
          moonshots: 10,
          venture: 20,
          stocks: 70,
          bonds: 0,
        },
        {
          moonshots: 10,
          venture: 20,
          stocks: 70,
          bonds: 0,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 50,
          bonds: 0,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 50,
          bonds: 0,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 50,
          bonds: 0,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 50,
          bonds: 0,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 50,
          bonds: 0,
        },
      ],
    },
    {
      title: "Smart",
      items: [
        {
          moonshots: 0,
          venture: 0,
          stocks: 30,
          bonds: 70,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 40,
          bonds: 60,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 50,
          bonds: 50,
        },
        {
          moonshots: 0,
          venture: 0,
          stocks: 50,
          bonds: 50,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 50,
          bonds: 40,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 50,
          bonds: 40,
        },
        {
          moonshots: 10,
          venture: 20,
          stocks: 40,
          bonds: 30,
        },
        {
          moonshots: 20,
          venture: 20,
          stocks: 30,
          bonds: 30,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 30,
          bonds: 20,
        },
        {
          moonshots: 30,
          venture: 30,
          stocks: 30,
          bonds: 10,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 50,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 50,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 50,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 50,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 50,
          stocks: 0,
          bonds: 0,
        },
      ],
    },
    {
      title: "Aggressive",
      items: [
        {
          moonshots: 0,
          venture: 10,
          stocks: 40,
          bonds: 50,
        },
        {
          moonshots: 0,
          venture: 10,
          stocks: 50,
          bonds: 40,
        },
        {
          moonshots: 0,
          venture: 20,
          stocks: 50,
          bonds: 30,
        },
        {
          moonshots: 0,
          venture: 20,
          stocks: 50,
          bonds: 30,
        },
        {
          moonshots: 0,
          venture: 30,
          stocks: 50,
          bonds: 20,
        },
        {
          moonshots: 10,
          venture: 30,
          stocks: 50,
          bonds: 10,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 50,
          bonds: 0,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 50,
          bonds: 0,
        },
        {
          moonshots: 30,
          venture: 30,
          stocks: 40,
          bonds: 0,
        },
        {
          moonshots: 40,
          venture: 30,
          stocks: 30,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 60,
          venture: 30,
          stocks: 10,
          bonds: 0,
        },
        {
          moonshots: 60,
          venture: 30,
          stocks: 10,
          bonds: 0,
        },
        {
          moonshots: 60,
          venture: 40,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 60,
          venture: 40,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 60,
          venture: 40,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 60,
          venture: 40,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 60,
          venture: 40,
          stocks: 0,
          bonds: 0,
        },
      ],
    },
    {
      title: "Ultra-aggressive",
      items: [
        {
          moonshots: 0,
          venture: 30,
          stocks: 40,
          bonds: 30,
        },
        {
          moonshots: 10,
          venture: 30,
          stocks: 40,
          bonds: 20,
        },
        {
          moonshots: 20,
          venture: 30,
          stocks: 40,
          bonds: 10,
        },
        {
          moonshots: 30,
          venture: 30,
          stocks: 40,
          bonds: 0,
        },
        {
          moonshots: 30,
          venture: 30,
          stocks: 40,
          bonds: 0,
        },
        {
          moonshots: 30,
          venture: 30,
          stocks: 40,
          bonds: 0,
        },
        {
          moonshots: 40,
          venture: 30,
          stocks: 30,
          bonds: 0,
        },
        {
          moonshots: 40,
          venture: 30,
          stocks: 30,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 50,
          venture: 30,
          stocks: 20,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
        {
          moonshots: 70,
          venture: 30,
          stocks: 0,
          bonds: 0,
        },
      ],
    },
  ]
