mixin modal-full-story()
  //- p.modal__description Обычная модалка
  .full-story
    .full-story__slider.swiper-container
      .full-story__slider-wrap.swiper-wrapper
        .full-story__slide.swiper-slide
          .full-story__slide-wrap
            p.full-story__title The story behind&nbsp;Grows
            .full-story__text
              p The idea of Grows came about when I took my wife to the hospital to give birth to our first kid.
              p On the way home, a sense of impending responsibility overwhelmed me: “a new person is about to appear — why should she be at the risk that I am taking?”
              p I spent the night with Excel, simulating different scenarios, cpmaromg different assets, calculating expected yields analyzing how power of compounding gets into play. I was looking for a simple and effective way to get my child out of the adventurousness of my approach to life. I wanted to find a tool that would guarantee her guture, no matter what happened to my affairs. Just to disconnect these two things.
              p This is how I imagined the ideal instrument: my child's capital automatically grows as she grows up, using all the opportunities that the long-term horizon gifts — the power of compounding and the ability to invest aggressively in the first years.
              p I should not need to spend any time on this — I want to set it once and forget about it, just monitoring how it goes a few times a year.
              p This is how Grows was born. And a few hours later, our little Sophie was born 👶 When she becomes an adult, she will have passive income and be free to choose: to invest in her education, launch her own startup or anything she might have in mind. And I can continue do what I love and take risks without worrying about her future.
            .full-story__footer
              p.full-story__name Dmitrii Samoilovskikh
              p Founder of Grows,
              p Forbes 30 Under 30 Europe:
          .full-story__bg.swiper-container
            .swiper-wrapper
              .swiper-slide
                img(data-src='./img/content/full-story', data-type="jpg", width="2400", height="2300", alt="full-story")
              .swiper-slide
                img(data-src='./img/content/build-grows', data-type="jpg", width="2400", height="2300", alt="build-grows")


    button(type="button", aria-label="previous").full-story__nav
      +icon('icon-arrow-left', 26, 24)
    button(type="button", aria-label="next").full-story__nav.full-story__nav--next
      +icon('icon-arrow-right', 26, 24)
    .full-story__btns
      +btn({text: "Back"})(data-close-modal).btn--black
      +btn({text: "Join waitlist 🚀"})(data-open-modal="join")
